/* @import url(//cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css); */
@font-face { font-family: 'KOMACON'; src: url('//cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/KOMACON.woff') format('woff'); font-weight: normal; font-style: normal; }

:root {
	--color-0: #fb8989;
	--color-1: #ff90a4;
	--color-2: #fdd8de;
	--color-3: #fdd8fd;

	--color-bg-1: #fffdf0;
	--color-bg-2: #edead7;
	--color-bg-3: #f3edcb;

	--btn-primary-color: #777777;

  --list-background-img: url(./images/background-profile.jpg);
}

* {
	font-family: "KOMACON","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.list-writer span,
#article-info-writer strong,
.reply-writer {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* 배경색 */
html, body {
	height: auto;
	background: var(--color-bg);
}

/* Top 버튼 이미지 변경 */
#movetotop > img {
	display: none;
}
#movetotop {
	display: inline-block;
	background-image: url(./images/move-to-top-btn.png);
	background-size: contain;
	width: 72px;
	height: 72px;
}

/* 글작성 툴바 테두리 색 */
.fr-toolbar {
	border-top-color: var(--color-0);
}

/* 버튼색 */
.btn-primary {
	color: var(--btn-primary-color);
	background-color: var(--color-2);
	border-color: var(--color-2)
}
.btn-primary.focus,.btn-primary:focus {
	color: #f2f2f2;
	background-color: var(--color-1);
	border-color: var(--color-1)
}
.btn-primary:hover {
	color: #f2f2f2;
	background-color: var(--color-1);
	border-color: var(--color-1)
}
.btn-primary.active, .btn-primary:active {
	color: #f2f2f2;
	background-color: var(--color-0);
	border-color: var(--color-0)
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover,
.btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover {
	color: #f2f2f2;
	background-color: var(--color-0);
	border-color: var(--color-0)
}
.btn-primary.disabled.focus, .btn-primary.disabled:focus,
.btn-primary.disabled:hover, .btn-primary[disabled].focus,
.btn-primary[disabled]:focus, .btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
	background-color: var(--color-3);
	border-color: var(--color-3);
}

/* 접속자 수 */
#viewers-area .fa-user:before {
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	transform: translateY(2px);
	background-image: url(./images/gudogi.png);
	background-size: contain;
}
#board-info #viewers-area {
	font-size: 12px;
}
#viewers:before {
	content: '구도기 ';
}
#viewers:after {
	content: '마리가 꿈틀거리고 있습니다 ~_~';
}

/* 추천수 뱃지 */
#article-list > .article-list-row > .item > .list-header > span {
	background-color: #f5a857;
}

/* 페이지네이션 버튼 */
.pagination > li > a {
	border-radius: 34px;
	border: none;
}
.pagination > li > a, .pagination > li > span {
	color: var(--color-0);
}
/* 선택된버튼 focus, hover */
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
	background-color: var(--color-1);
}
/* 일반버튼 hover */
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
	background-color: var(--color-2);
	color: var(--color-0);
}
/* 좌우버튼 radius */
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
	border-radius: 34px;
}

/* 방장 아이콘 변경 */
img[alt=Broadcaster] {
	padding-left: 18px;
	width: 18px;
	height: 18px;
	background-image: url(./images/kingdogi.png);
	background-size: contain;
}

/* 하트 아이콘 애니메이션 효과 */
@keyframes beat {
	from { transform: scale(1.2); }
	to { transform scale(1.0); }
}
@-moz-keyframes beat {
	from { transform: scale(1.2); }
	to { transform scale(1.0); }
}
@-webkit-keyframes beat {
	from { transform: scale(1.2); }
	to { transform scale(1.0); }
}
@-ms-keyframes beat {
	from { transform: scale(1.2); }
	to { transform scale(1.0); }
}
.item .fa.fa-heart {
	-webkit-animation: beat 1s ease-in 6s infinite;
	-moz-animation: beat 1s ease-in 6s infinite;
	-ms-animation: beat 1s ease-in 6s infinite;
	animation: beat 1s ease-in 6s infinite;
}

/* 별 애니메이션 */
@keyframes star {
	0% { transform: scale(1, 1); }
	20% { transform: scale(1.3, 0.85); }
	40% { transform: scale(0.95, 1.2); }
	60% { transform: scale(1, 1); }
}
@-moz-keyframes star {
	0% { transform: scale(1, 1); }
	20% { transform: scale(1.3, 0.85); }
	40% { transform: scale(0.95, 1.2); }
	60% { transform: scale(1, 1); }
}
@-webkit-keyframes star {
	0% { transform: scale(1, 1); }
	20% { transform: scale(1.3, 0.85); }
	40% { transform: scale(0.95, 1.2); }
	60% { transform: scale(1, 1); }
}
@-ms-keyframes star {
	0% { transform: scale(1, 1); }
	20% { transform: scale(1.3, 0.85); }
	40% { transform: scale(0.95, 1.2); }
	60% { transform: scale(1, 1); }
}
.item .fa.fa-star {
	-webkit-animation: star 1s infinite;
	-moz-animation: star 1s infinite;
	-ms-animation: star 1s infinite;
	animation: star 1s infinite;
}

/* 이모티콘 변경 */
.fr-command.fr-emoticon[data-param1=SingsNote] > img,
.fr-command.fr-emoticon[data-param1=SingsMic] > img,
.fr-command.fr-emoticon[data-param1=TwitchSings] > img,
.fr-command.fr-emoticon[data-param1=SoonerLater] > img,
.fr-command.fr-emoticon[data-param1=HolidayTree] > img,
.fr-command.fr-emoticon[data-param1=HolidaySanta] > img,
.fr-command.fr-emoticon[data-param1=HolidayPresent] > img,
.fr-command.fr-emoticon[data-param1=HolidayOrnament] > img,
.fr-command.fr-emoticon[data-param1=HolidayLog] > img,
.fr-command.fr-emoticon[data-param1=HolidayCookie] > img,
.fr-command.fr-emoticon[data-param1=GunRun] > img,
.fr-command.fr-emoticon[data-param1=PixelBob] > img,
.fr-command.fr-emoticon[data-param1=FBPenalty] > img,
.fr-command.fr-emoticon[data-param1=FBChallenge] > img,
.fr-command.fr-emoticon[data-param1=FBCatch] > img,
.fr-command.fr-emoticon[data-param1=FBBlock] > img,
.fr-command.fr-emoticon[data-param1=FBSpiral] > img,
.fr-command.fr-emoticon[data-param1=FBPass] > img,
.fr-command.fr-emoticon[data-param1=FBRun] > img,
.fr-command.fr-emoticon[data-param1=GenderFluidPride] > img,
.fr-command.fr-emoticon[data-param1=NonBinaryPride] > img,
.fr-command.fr-emoticon[data-param1=MaxLOL] > img,
.fr-command.fr-emoticon[data-param1=IntersexPride] > img {
	width: 20px !important;
	height: 20px !important;
	padding-left: 20px;
	background-size: 100%;
}
.fr-emoticon.fr-deletable > img[alt=SingsNote],
.fr-emoticon.fr-deletable > img[alt=SingsMic],
.fr-emoticon.fr-deletable > img[alt=TwitchSings],
.fr-emoticon.fr-deletable > img[alt=SoonerLater],
.fr-emoticon.fr-deletable > img[alt=HolidayTree],
.fr-emoticon.fr-deletable > img[alt=HolidaySanta],
.fr-emoticon.fr-deletable > img[alt=HolidayPresent],
.fr-emoticon.fr-deletable > img[alt=HolidayOrnament],
.fr-emoticon.fr-deletable > img[alt=HolidayLog],
.fr-emoticon.fr-deletable > img[alt=HolidayCookie],
.fr-emoticon.fr-deletable > img[alt=GunRun],
.fr-emoticon.fr-deletable > img[alt=PixelBob],
.fr-emoticon.fr-deletable > img[alt=FBPenalty],
.fr-emoticon.fr-deletable > img[alt=FBChallenge],
.fr-emoticon.fr-deletable > img[alt=FBCatch],
.fr-emoticon.fr-deletable > img[alt=FBBlock] {
	width: 92px !important;
	height: 92px !important;
	padding-left: 92px;
	background-size: 100%;
}
/* 작은 사이즈 이모티콘 */
.fr-emoticon.fr-deletable > img[alt=FBSpiral],
.fr-emoticon.fr-deletable > img[alt=FBPass],
.fr-emoticon.fr-deletable > img[alt=FBRun],
.fr-emoticon.fr-deletable > img[alt=GenderFluidPride],
.fr-emoticon.fr-deletable > img[alt=NonBinaryPride],
.fr-emoticon.fr-deletable > img[alt=MaxLOL],
.fr-emoticon.fr-deletable > img[alt=IntersexPride] {
	width: 28px !important;
	height: 28px !important;
	padding-left: 28px;
	background-size: 100%;
}

.fr-command.fr-emoticon[data-param1=SingsNote] > img,
.fr-emoticon.fr-deletable > img[alt=SingsNote] {
	background-image: url(./images/emoticon/jammi-emoti-1.gif);
}
.fr-command.fr-emoticon[data-param1=SingsMic] > img,
.fr-emoticon.fr-deletable > img[alt=SingsMic] {
	background-image: url(./images/emoticon/jammi-emoti-3.gif);
}
.fr-command.fr-emoticon[data-param1=TwitchSings] > img,
.fr-emoticon.fr-deletable > img[alt=TwitchSings] {
	background-image: url(./images/emoticon/jammi-emoti-9.gif);
}
.fr-command.fr-emoticon[data-param1=SoonerLater] > img,
.fr-emoticon.fr-deletable > img[alt=SoonerLater] {
	background-image: url(./images/emoticon/jammi-emoti-13.gif);
}
.fr-command.fr-emoticon[data-param1=HolidayTree] > img,
.fr-emoticon.fr-deletable > img[alt=HolidayTree] {
	background-image: url(./images/emoticon/jammi-emoti-16.gif);
}
.fr-command.fr-emoticon[data-param1=HolidaySanta] > img,
.fr-emoticon.fr-deletable > img[alt=HolidaySanta] {
	background-image: url(./images/emoticon/jammi-emoti-17.gif);
}
.fr-command.fr-emoticon[data-param1=HolidayPresent] > img,
.fr-emoticon.fr-deletable > img[alt=HolidayPresent] {
	background-image: url(./images/emoticon/jammi-emoti-19.gif);
}
.fr-command.fr-emoticon[data-param1=HolidayOrnament] > img,
.fr-emoticon.fr-deletable > img[alt=HolidayOrnament] {
	background-image: url(./images/emoticon/jammi-emoti-20.gif);
}
.fr-command.fr-emoticon[data-param1=HolidayLog] > img,
.fr-emoticon.fr-deletable > img[alt=HolidayLog] {
	background-image: url(./images/emoticon/jammi-emoti-21.gif);
}
.fr-command.fr-emoticon[data-param1=HolidayCookie] > img,
.fr-emoticon.fr-deletable > img[alt=HolidayCookie] {
	background-image: url(./images/emoticon/jammi-emoti-22.gif);
}
.fr-command.fr-emoticon[data-param1=GunRun] > img,
.fr-emoticon.fr-deletable > img[alt=GunRun] {
	background-image: url(./images/emoticon/jammi-emoti-23.gif);
}
.fr-command.fr-emoticon[data-param1=PixelBob] > img,
.fr-emoticon.fr-deletable > img[alt=PixelBob] {
	background-image: url(./images/emoticon/jammi-emoti-24.gif);
}
.fr-command.fr-emoticon[data-param1=FBPenalty] > img,
.fr-emoticon.fr-deletable > img[alt=FBPenalty] {
	background-image: url(./images/emoticon/jammi-emoti-25.gif);
}
.fr-command.fr-emoticon[data-param1=FBChallenge] > img,
.fr-emoticon.fr-deletable > img[alt=FBChallenge] {
	background-image: url(./images/emoticon/jammi-emoti-26.gif);
}
.fr-command.fr-emoticon[data-param1=FBCatch] > img,
.fr-emoticon.fr-deletable > img[alt=FBCatch] {
	background-image: url(./images/emoticon/jammi-emoti-27.gif);
}
.fr-command.fr-emoticon[data-param1=FBBlock] > img,
.fr-emoticon.fr-deletable > img[alt=FBBlock] {
	background-image: url(./images/emoticon/jammi-emoti-28.gif);
}
.fr-command.fr-emoticon[data-param1=FBSpiral] > img,
.fr-emoticon.fr-deletable > img[alt=FBSpiral] {
	background-image: url(./images/emoticon/jammi-emoti-29.gif);
}
.fr-command.fr-emoticon[data-param1=FBPass] > img,
.fr-emoticon.fr-deletable > img[alt=FBPass] {
	background-image: url(./images/emoticon/jammi-emoti-30.gif);
}
.fr-command.fr-emoticon[data-param1=FBRun] > img,
.fr-emoticon.fr-deletable > img[alt=FBRun] {
	background-image: url(./images/emoticon/jammi-emoti-31.gif);
}
.fr-command.fr-emoticon[data-param1=GenderFluidPride] > img,
.fr-emoticon.fr-deletable > img[alt=GenderFluidPride] {
	background-image: url(./images/emoticon/jammi-emoti-32.gif);
}
.fr-command.fr-emoticon[data-param1=NonBinaryPride] > img,
.fr-emoticon.fr-deletable > img[alt=NonBinaryPride] {
	background-image: url(./images/emoticon/jammi-emoti-33.gif);
}
.fr-command.fr-emoticon[data-param1=MaxLOL] > img,
.fr-emoticon.fr-deletable > img[alt=MaxLOL] {
	background-image: url(./images/emoticon/jammi-emoti-34.gif);
}
.fr-command.fr-emoticon[data-param1=IntersexPride] > img,
.fr-emoticon.fr-deletable > img[alt=IntersexPride] {
	background-image: url(./images/emoticon/jammi-emoti-35.gif);
}
